svg.star-svg {
    display: inline;
}

.product-cart-icon {
    fill: rgb(49, 49, 49);
}

.nav-cart-info {
    position: relative;
}

.filter-modal {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 10;
    filter: drop-shadow(2px -1px 21px -3px rgba(184, 184, 184, 1));
    box-shadow: 2px -1px 15px -5px rgba(184, 184, 184, 1);
}

.filter-modal-after {
    position: absolute;
    top: -16px;
    left: 155px;
    background-color: #ffffff;
    width: 40px;
    height: 25px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 2px -1px 15px -5px rgba(184, 184, 184, 1);
}

/* Hide the default checkbox */
/* .custom-checkbox {
    @apply appearance-none inline-block w-5 h-5 rounded relative border border-gray-300 cursor-pointer;
}

.custom-checkbox:checked {
    @apply accent-primary;
}

.custom-checkbox:checked::after {
    content: "";
    @apply absolute w-2 h-3 border-white border-solid border-t-0 border-l-0 transform rotate-45;
    top: 1px;
    left: 6px;
} */
